html, body, .bodyDimensionsDiv /*.mainCenterAttr */ /*.pagebody*/
{
    width: 100%;
    height: 100%;/*100%;*/
    /* min-width: 320px;
    min-height: 480px; */
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    /* background-color: darkcyan; */
    /* overflow: hidden; */
}

.presentDataDiv
{
    flex: 1;
    /* align-items: center; */
}

.pastDataDiv
{
    /* width: 10%; */
    height: 90%;/*100%;*/
    /* min-width: 320px;
    min-height: 480px; */
    margin: 0px;
    padding: 0px;
    /* float: right; */
    /* background-color: transparent; */
    background-color: yellow;
    position: absolute;
    right: 0;
    display: block;
    overflow: scroll;
}

.inputDimensionsDiv
{ 
    width: 100%; 
    height: 10%;
    /* float: left;  */
    /* align-self: center; */
    display:flex;
    padding: 0%;
    margin: 0%;
    background-color: transparent;
}

.inputDimensionsP
{
    flex: 1;
    text-align: left;
    padding-left: 5%;
}

.inputDimensionsInput
{
    flex: 2;
    /* min-width: 300px; */
    /* max-width: 500px; */
}

.submitDimensionsButton
{
    width: 60%;
    height: 10%;
    /* background-color: transparent; */
    background-color: white;
    border: none;
    color: forestgreen;
    padding: 0;/*16px 32px;*/
    text-decoration: none;
    margin: 0;/*4px 2px;*/
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    border-radius: 5px;
    outline: none;/*to remove glowing border on focus/click*/
    /* height: 15px; */
}

@media only screen and (min-width: 481px) {
    /* For Desktops and Tablets: */
    
}
@media only screen and (max-width: 480px) {
    /* For mobiles: */
    
}